# Set to full URL if backend is on a different domain (e.g. Render)
VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_AUTH0_DOMAIN=linkxee-tech.us.auth0.com
VITE_AUTH0_CLIENT_ID=jEkGesJ0FG4ZTjuNOgfQkOgUE8eA4csO
VITE_AUTH0_AUDIENCE=https://api.secureagent.local
VITE_AUTH0_SCOPE=openid profile email offline_access read:agents create:agents update:agents delete:agents rotate:secret revoke:agent read:audit admin
