# Set to full URL if backend is on a different domain (e.g. Render)
VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_AUTH0_DOMAIN=linkxee-tech.us.auth0.com
VITE_AUTH0_CLIENT_ID=jEkGesJ0FG4ZTjuNOgfQkOgUE8eA4csO
VITE_AUTH0_AUDIENCE=https://secureagentvault/api
VITE_AUTH0_SCOPE=read:agents write:agents read:audit admin
